{% extends "order/base.html" %}
{% block content %}
    <h2 class="text center">Tag Search Result</h2>
    <div class="container">
            {% if orde %}
           {%for or in orde %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#"></a>
                    </div>
                <h2><a class="article-title" href="{% url 'post-detail' or.id %}">{{ or.Name }}</a></h2>
                 <p class="article-content">Order Number-{{ or.Order_Number }}</p><p class="article-content">Quantity-{{ or.Quantity}}</p>
                </div>
            </article>
            {%endfor%}
            {% else %}
                <p>No product</p>
            {% endif %}
    </div>
{% endblock content %}

